# TODO: add any new requirements here, which may be necessary as new libraries have been added to the imports
chromadb
fastapi
langchain
libcst
pathspec
pydantic
pydantic-settings
pygments
python-magic
sentence-transformers
tiktoken
torch
tqdm
transformers
tree-sitter
uvicorn
httpx
pytest-asyncio
slowapi
