# TODO: add any new requirements here
chromadb
fastapi
langchain
libcst
pathspec
pydantic
pydantic-settings
pygments
python-magic
sentence-transformers
tiktoken
torch
tqdm
transformers
tree-sitter
uvicorn
httpx
pytest-asyncio
slowapi

